* {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
	font-family: system-ui;
}

:root[data-theme="dark"] {
	color-scheme: dark;
	background-color: #1c1b22;
	color: #fefefe;
}

:root[data-theme="light"] {
	color-scheme: light;
	background-color: #ffffff;
	color: #363636;
}

body {
	margin: 0;
}

krv-events {
	max-height: 100vh;
	overflow: auto;
	padding: 4px 20px;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Roboto"), local("Roboto-Regular"), url("https://cdn.kernvalley.us/fonts/roboto.woff2") format("woff2"), url("https://cdn.kernvalley.us/fonts/roboto.woff") format("woff"), url("https://cdn.kernvalley.us/fonts/roboto.ttf") format("truetype");
}
