#event-info-section {
	grid-template-areas: ". time place ." ". organizer place ." ". performer . .";
	grid-template-columns: 1fr minmax(320px, 380px) minmax(350px, 500px) 1fr;
	gap: 8px;
	line-height: 1.65;
}

.event-name {
	font-size: 2.2em;
	color: var(--heading-color);
	margin-top: 0;
}

.event-section-heading {
	margin: 0 0 0.4em 0;
	font-size: 1.2em;
	color: var(--heading-color);
}


#organizer-card .same-as-links {
	padding: 0.4rem;
}

#event-info-section #performer-card .performer-info {
	text-decoration: none;
}

.event-card {
	background-color: var(--bs-gray-100);

	@media (prefers-color-scheme: dark) {
		& {
			background-color: var(--bs-gray-900);
		}
	}
}

#place-card {
	grid-area: place;
}

#time-card {
	grid-area: time;
}

#organizer-card {
	grid-area: organizer;
}

#organizer-info > a {
	display: block;
}

#performer-card {
	grid-area: performer;
}

#performer-card .performer-info {
	gap: 1.8rem;
}

#performer-card .performer-image {
	width: 96px;
	height: 96px;
	object-position: center;
	object-fit: contain;
}

#place-card .leaflet-map {
	width: 100%;
	min-height: 250px;
	border: none;
}

.event-page-offers.flex, .event-details.flex.row {
	justify-content: space-around;
	gap: 1.3rem;
	margin-top: 1.3rem;
}

@media (max-width: 750px) {
	#event-info-section {
		grid-template-areas: "time" "place" "organizer" "performer";
		grid-template-columns: auto;
	}
}

.event-page-header figure, .event-card figure {
	margin-inline: 0;
}

.event-page-header .event-img {
	width: 100%;
	display: block;
}

.event-page-header .event-img, .event-card-img {
	object-fit: cover;
	object-position: center;
	border-radius: 6px;
}

.event-location-name {
	color: var(--heading-color);
}

.layout-event-page .share-btns hr {
	display: none;
}
