@charset "UTF-8";
@import url("https://cdn.kernvalley.us/css/core-css/viewport.css");
@import url("https://cdn.kernvalley.us/css/normalize/normalize.css");
@import url("https://cdn.kernvalley.us/css/core-css/rem.css");
@import url("https://cdn.kernvalley.us/css/core-css/element.css");
@import url("https://cdn.kernvalley.us/css/core-css/class-rules.css");
@import url("https://cdn.kernvalley.us/css/core-css/animations.css");
@import url("https://cdn.kernvalley.us/css/core-css/cdn-fonts.css");
@import url("https://cdn.kernvalley.us/css/core-css/scrollbar.css");
@import url("https://cdn.kernvalley.us/css/core-css/accordion.css");
@import url("./layout.css");
@import url("./vars.css");

#events-calendar details.event-details summary.btn {
	display: block;
	width: 100%;
}

.event-details > .card {
	max-width: 100%;
	width: 650px;
}

main.card {
	padding: 2em;
	width: 95vw;
	margin-left: 2.5%;
}

.event-page-offers.flex, .event-details.flex.row {
	justify-content: space-around;
	gap: 1.3rem;
}

button.btn.event-offer-btn {
	cursor: default;
}

.btn.btn-big {
	font-size: 1.3em;
	padding: 0.4em 1.3em;
}

@media (min-width: 800px) {
	main.card {
		width: 80%;
		padding: 2em;
		margin-left: 10%
	}
}

button:disabled.btn {
	background: var(--button-disabled-background);
}

dialog {
	border: none;
}

summary[role="button"] {
	display: list-item;
}

.share-btns share-to-button {
	margin: 0.6em 0.4em 0 0;
}

#events-calendar {
	grid-template-columns: repeat(auto-fill, minmax(320px, 450px));
	grid-template-rows: masonry;
	grid-gap: 0.8em;
	justify-content: center;
}

@media (max-width: 600px) {
	.share-btns share-to-button::part(text),
	.share-btns share-to-button::part(spacer) {
		display: none;
	}

	.share-btns share-to-button::part(container) {
		min-width: 4em;
		min-height: 4em;
		padding: 0.8em;
		justify-content: center;
		align-items: center;
	}
}

.full-width {
	width: 100%;
}

.info-text {
	color: #6c6565;
}

.stepped-form > .form-step:not(.step-active) {
	display: none;
}
