@import url("https://cdn.kernvalley.us/css/core-css/theme/default/index.css");
@import url("https://cdn.kernvalley.us/css/core-css/theme/properties.css");

@media all {
	:root[theme], :root:not([theme]) {
		--header-height: 0;
		--nav-height: 4rem;


		/*================= Set color vars here =================*/

		/*==================== Set fonts here ====================*/
		--main-font: 'Roboto';
		--title-font: 'Alice', cursive;
		--header-font: 'Alice', cursive;
		--article-font: 'Ubuntu';
		--article-header-font: var(--header-font);
		--sidebar-max-width: 30vw;
		--map-width: 25vw;

		--scrollbar-width: thin;
	}
}

@media (max-width: 800px) {
	:root {
		--map-width: 100%;
		--scrollbar-width: auto;
	}
}

