---
title: Submit Event
permalink: /add-event/
layout: default
---
<h2 class="center">KRV Event submission</h2>
<form name="submitEvent" enctype="multipart/form-data" class="card shadow stepped-form" data-netlify="true" hidden="">
	<datalist id="cities-list">
		<option value="Lake Isabella"></option>
		<option value="Kernville"></option>
		<option value="Wofford Heights"></option>
		<option value="Bodfish"></option>
		<option value="Weldon"></option>
		<option value="South Lake"></option>
		<option value="Havilah"></option>
		<option value="Riverkern"></option>
	</datalist>
	<fieldset class="no-border form-step step-active" autocomplete="off" data-step="1">
		<legend>Basic Info</legend>
		<div class="input-group">
			<label>
				<div>Event Name</div>
				<input type="text" name="name" pattern="[\w \.]{5,30}" minlength="5" maxlength="30" autocomplete="off" placeholder="Event Name" required="" />
			</label>
		</div>
		<div class="input-group">
			<label>
				<div>{% include icon.html icon="events" %} Start</div>
				<input type="date" name="startDate" autocomplete="off" placeholder="yyyy-mm-dd" required="" />
				<input type="time" name="startTime" autocomplete="off" placeholder="hh:mm" required="" />
			</label>
		</div>
		<div class="input-group">
			<label>
				<div>{% include icon.html icon="events" %} End</div>
				<input type="date" name="endDate" autocomplete="off" placeholder="yyyy-mm-dd" required="" />
				<input type="time" name="endTime" autocomplete="off" placeholder="hh:mm" required="" />
			</label>
		</div>
		<div class="input-group">
			<label>
				<div>{% include icon.html icon="note" %} Description</div>
				<textarea name="description" autocomplete="off" placeholder="Short description of event" minlength="20" maxlength="200" required=""></textarea>
				<br />
				<i class="info-text">{% include icon.html icon="info" %} Brief event description. Further content and images will be requested as needed.</i>
			</label>
		</div>
		<div class="input-group">
			<label>
				<div>{% include icon.html icon="file-media" %} Event Image</div>
				<input type="file" name="image" accept="image/jpeg, image/png" />
			</label>
			<br />
			<i class="info-text">{% include icon.html icon="info" %} See <a href="https://pexels.com" target="_blank" rel="noopener external">Pexels.com {% include icon.html icon="link-external" %}</a> for free stock images</i>
		</div>
		<button type="button" class="btn btn-primary" data-to-step="2">
			{% include icon.html icon="next" %}
			<span>Next</span>
		</button>
	</fieldset>
	<fieldset class="no-border form-step" autocomplete="off" data-step="2">
		<legend>Event Location</legend>
		<div class="input-group">
			<label for="event-location-name" class="block">
				{% include icon.html icon="location" %}
				<span>Location</span>
			</label>
			<input type="text" class="block" name="location-name" autocomplete="off" id="event-location-name" placeholder="Location name" />
			<input type="text" class="block" name="location-streetAddress" autocomplete="off" placeholder="123 Some St." />
			<input type="text" name="location-addressLocality" autocomplete="off" list="cities-list" placeholder="City" required="" />
		</div>
		<button type="button" class="btn btn-primary" data-to-step="1">
			{% include icon.html icon="prev" %}
			<span>Previous</span>
		</button>
		<button type="button" class="btn btn-primary" data-to-step="3">
			{% include icon.html icon="next" %}
			<span>Next</span>
		</button>
	</fieldset>
	<fieldset class="no-border form-step" autocomplete="on" data-step="3">
		<legend>Organizer Contact Info</legend>
		<div class="input-group">
			<div class="input-label">Organizer Type</div>
			<label role="button">
				<input type="radio" name="organizer-@type" value="https://schema.org/Person" checked="" />
				{% include icon.html icon="avatar-default" %}
				<span>Individual</span>
			</label>
			<label role="button">
				<input type="radio" name="organizer-@type" value="https://schema.org/Organization" />
				{% include icon.html icon="organization" %}
				<span>Organization</span>
			</label>
		</div>
		<div class="input-group">
			<label>
				<div>Name</div>
				<input type="text" name="organizer-name" autocomplete="name" placeholder="Contact name" required="" />
				<br />
				<input type="text" name="organizer-orgName" autocomplete="organization" placeholder="Optional name of Organization" />
			</label>
		</div>
		<div class="input-group">
			<label>
				<div>{% include icon.html icon="link" %} URL</div>
				<input type="url" name="organizer-url" autocomplete="url" placeholder="https://example.com" required="" />
				<br />
				<i class="info-text">
					{% include icon.html icon="info" %}
					<span>Website, Facebook profile or page, etc.</span>
				</i>
			</label>
		</div>
		<div class="input-group">
			<label>
				<div>{% include icon.html icon="mail-unread" %} Email</div>
				<input type="email" name="organizer-email" autocomplete="email" placeholder="user@example.com" required="" />
			</label>
		</div>
		<div class="input-group">
			<label>
				<div>{% include icon.html icon="call-start" %} Phone</div>
				<input type="tel" name="organizer-phone" autocomplete="phone" placeholder="+1-555-555-5555" required="" />
			</label>
		</div>
		<div class="btns flex row no-wrap">
			<button type="button" class="btn btn-primary" data-to-step="2">
				{% include icon.html icon="prev" %}
				<span>Previous</span>
			</button>
			<span>&nbsp;</span>
			<button type="submit" class="btn btn-accept btn-wide">
				{% include icon.html icon="check" %}
				<span>Submit</span>
			</button>
		</div>
	</fieldset>
</form>
