---
layout: default
permalink: /create/
title: Create an Event
description: Submit an event to the KRV Events App
scripts:
- src: /js/create.min.js
  defer: true
  referrerPolicy: no-referrer
---
<form id="event-form" class="card">
	<datalist id="city-list">
		<option value="Lake Isabella"></option>
		<option value="Kernville"></option>
		<option value="Wofford Heights"></option>
		<option value="Bodfish"></option>
		<option value="Mt Mesa"></option>
		<option value="South Lake"></option>
		<option value="Weldon"></option>
		<option value="Onyx"></option>
	</datalist>
	<datalist id="zip-list">
		<option value="93240"></option>
		<option value="93238"></option>
		<option value="93285"></option>
		<option value="93205"></option>
		<option value="93283"></option>
		<option value="93255"></option>
	</datalist>
	<input type="hidden" name="@context" value="https://schema.org" />
	<fieldset id="event-info" class="form-section" disabled="">
		<legend>Event Info</legend>
		<!-- <div class="form-nav"> -->
		<!-- 	<a href="/create/#event-info" class="btn btn-primary">Basic Info</a> -->
		<!-- 	<a href="/create/#event-organizer" class="btn btn-primary">Organizer Info</a> -->
		<!-- 	<a href="/create/#event-location" class="btn btn-primary">Event Location</a> -->
		<!-- 	<a href="/create/#event-article" class="btn btn-primary">Event Article</a> -->
		<!-- </div> -->
		<div class="form-group">
			<label class="input-label required" for="event-name">Event Name</label>
			<input type="text" name="name" id="event-name" class="input" placeholder="Event Name" minlength="8"
				maxlength="65" autocomplete="off" required="" />
		</div>
		<div class="form-group">
			<label for="event-type" class="input-label required">Event Type</label>
			<select name="@type" id="event-type" class="input" required="">
				<optgroup label="General Events">
					<option label="Other/Genric Event" value="Event" selected=""></option>
					<option label="Social Event" value="SocialEvent"></option>
					<option label="Business Event" value="BusinessEvent"></option>
					<option label="Children's Event" value="ChildrensEvent"></option>
				</optgroup>
				<optgroup label="Subject Specific Event">
					<option label="Sporting Event" value="SportsEvent"></option>
					<option label="Food Event" value="FoodEvent"></option>
					<option label="Eduacational Event" value="EducationEvent"></option>
				</optgroup>
				<optgroup label="Arts / Performances / Entertainment">
					<option label="Musical Event" value="MusicEvent"></option>
					<option label="Exhibition" value="ExhibitionEvent"></option>
					<option label="Screening (eg movie)" value="ScreeningEvent"></option>
					<option label="Dance" value="DanceEvent"></option>
					<option label="Theatere Event" value="TheaterEvent"></option>
					<option label="Visual Arts" value="VisualArtsEvent"></option>
				</optgroup>
				<option label="Festival" value="Festival"></option>
			</select>
		</div>
		<div class="form-group">
			<label class="input-label required" for="event-start-date">Start Time</label>
			<input type="datetime-local" name="startDate" id="event-start-date" class="input"
				placeholder="yyyy-mm-ddThh:mm" required="" />
		</div>
		<div class="form-group">
			<label class="input-label required" for="event-end-date">End Time</label>
			<input type="datetime-local" name="endDate" id="event-end-date" class="input" placeholder="yyyy-mm-ddThh:mm"
				required="" />
		</div>
		<div class="form-group">
			<label for="event-description" class="input-label required">Description</label>
			<input type="text" name="description" class="input" id="event-description" minlength="10" maxlength="120"
				autocomplete="off" placeholder="Short description of event" required="" />
		</div>
		<div class="form-group">
			<label for="event-attendance-mode" class="input-label">Event Attendance Type</label>
			<select name="eventAttendanceMode"  id="event-attendance-mode" class="input" required="">
				<option label="In-Person" value="OfflineEventAttendanceMode" selected=""></option>
				<option label="Online" value="OnlineEventAttendanceMode"></option>
				<!-- <option label="Hybrid (Online &amp; In-Person)" value="MixedEventAttendanceMode"></option> -->
			</select>
		</div>
		<div class="form-group">
			<label for="event-image" class="input-label required">Image URL</label>
			<input type="url" name="image" id="event-image" class="input" placeholder="https://example.com/image.jpg"
				required="" />
		</div>
		<div>
			<p>Or <label for="img-upload" class="btn btn-primary">Upload</label> an image.</p>
			<input type="file" accept="image/jpeg, image/png, image/webp" id="img-upload" />
		</div>
		<div class="status-box info">
			<p>{% include common/icon.html icon="info" height="18" width="18" fill="currentColor" %} Images should be at
				least 640x80 and in a supported type (JPEG, PNG, WebP). Max upload size is 1 MB.</p>
		</div>
	</fieldset>
	<fieldset id="event-tags" disabled="">
		<legend>Event Tags (Multiple Allowed)</legend>
		<div class="flex row wrap tag-options">
			{% for tag in site.data.tags %}
				<label class="tag-option btn btn-primary">
					<span>#{{ tag }}</span>
					<input type="checkbox" name="tags" class="hidden-check" value="{{ tag }}" hidden="" />
					{% include common/icon.html icon="check" height=16 width=16 fill="currenttColor" %}
				</label>
			{% endfor %}
		</div>
	</fieldset>
	<fieldset id="event-location" class="form-section" disabled="" hidden="">
		<legend>Event Location</legend>
		<div class="form-group">
			<label for="event-location-name" class="input-label required">Location Name</label>
			<input type="text" name="location[name]" id="event-location-name" class="input" placeholder="Location Name"
				autocomplete="off" required="" />
		</div>
		<div class="form-group">
			<label for="event-location-type" class="input-label required">Location Type</label>
			<select name="location[@type]" id="event-location-type" class="input" required="">
				<option label="Place (Other)" value="Place" selected=""></option>
				<optgroup label="Civic">
					<option label="Park" value="Park"></option>
					<option label="Library" value="Library"></option>
					<option label="Church" value="Church"></option>
					<option label="Museum" value="Museum"></option>
					<option label="Campgroud" value="Campground"></option>
					<option label="Hospital" value="Hospital"></option>
				</optgroup>
				<optgroup label="Business">
					<option label="Local Business" value="LocalBusiness"></option>
					<option label="Restaurant" value="Restaurant"></option>
					<option label="Bar or Pub" value="BarOrPub"></option>
				</optgroup>
				<optgroup label="Outdoor / Nature">
					<option label="Mountain" value="Mountain"></option>
					<option label="Lake" value="LakeBodyOfWater"></option>
					<option label="River" value="RiverBodyOfWater"></option>
				</optgroup>
				<option label="Landmark or Historical Building" value="LandmarksOrHistoricalBuildings"></option>
				<option label="Residence" value="Residence"></option>
			</select>
		</div>
		<input type="hidden" name="location[address][@type]" value="PostalAddress" />
		<div class="form-group">
			<label for="event-location-street-address" class="input-label">Street Address</label>
			<input type="text" name="location[address][streetAddress]" id="event-location-street-address" class="input"
				placeholder="123 Some St" pattern="\d{1,5}\s[A-Za-z0-9.,\- ]+" autocomplete="off" />
		</div>
		<div class="form-group">
			<label for="event-location-address-locality" class="input-label required">City</label>
			<input type="text" name="location[address][addressLocality]" id="event-location-address-locality" class="input"
				placeholder="City Name" autocomplete="off" list="city-list" required="" />
		</div>
		<div class="form-group">
			<label for="event-location-address-region" class="input-label required">State</label>
			<select name="location[address][addressRegion]" id="event-location-address-region" class="input"
				autocomplete="off" required="">
				<option label="California" value="CA" selected=""></option>
			</select>
		</div>
		<div class="form-group">
			<label for="event-location-postal-code" class="input-label required">Zip/Postal Code</label>
			<input type="text" name="location[address][postalCode]" id="event-location-postal-code" class="input"
				inputmode="numeric" placeholder="#####" pattern="\d{5}" minlength="5" maxlength="5" list="zip-list"
				autocomplete="off" required="" />
		</div>
		<div class="form-group" hidden="">
			<label for="event-location-country" class="input-label required">Country</label>
			<select name="location[address][addressCountry]" id="event-location-country" class="input" required="">
				<option label="USA" value="US" selected=""></option>
			</select>
		</div>
		<input type="hidden" name="location[geo][@type]" value="GeoCoordinates" />
		<div class="form-group">
			<label for="event-geo-latitude" class="input-label">Latitude</label>
			<input type="text" name="location[geo][latitude]" id="event-geo-latitude" class="input" inputmode="numeric"
				pattern="-?\d{1,3}\.\d+" placeholder="###.######" />
		</div>
		<div class="form-group">
			<label for="event-geo-longitude" class="input-label">Longitude</label>
			<input type="text" name="location[geo][longitude]" id="event-geo-longitude" class="input" inputmode="numeric"
				pattern="-?\d{1,3}\.\d+" placeholder="###.######" />
		</div>
		<div class="status-box info">
			<p>{% include common/icon.html icon="info" height="18" width="18" fill="currentColor" %} Latitude &amp;
				Longitude are required for map to event location, but optional in this form.</p>
		</div>
	</fieldset>
	<fieldset id="event-virtual-location" disabled="" hidden="">
		<legend>Virtual Location / URL</legend>
		<input type="hidden" name="location[@type]" value="VirtualLocation" readonly="" />
		<div class="form-group">
			<label for="event-virtual-location-name" class="input-label required">Site/Link Name</label>
			<input type="text" name="location[name]" id="event-virtual-location-name" class="input" placeholder="Site/Link name" required="" />
		</div>
		<div class="form-group">
			<label for="event-virtual-location-url" class="input-label required">Event URL</label>
			<input type="url" name="location[url]" id="event-virtual-location-url" class="input"
				placeholder="https://example.com" required="" />
		</div>
	</fieldset>
	<fieldset id="event-organizer" class="form-section">
		<legend>Organizer Info</legend>
		<div class="form-group">
			<label for="event-organizer-name" class="input-label required">Organizer Name</label>
			<input type="text" name="organizer[name]" id="event-organizer-name" class="input" placeholder="Organizer Name" autocomplete="organization" required="" />
		</div>
		<div class="form-group">
			<label for="event-organizer-type" class="input-label required">Organizer Type</label>
			<select name="organizer[@type]" id="event-organizer-type" class="input" required="">
				<option label="Select a type" value=""></option>
				<option label="Person" value="Person"></option>
				<option label="Organization" value="Organization"></option>
				<option label="Local Business" value="LocalBusiness"></option>
				<option label="Library" value="Library"></option>
				<option label="School" value="School"></option>
				<option label="Restaurant" value="Restaurant"></option>
				<option label="Bar or Pub" value="BarOrPub"></option>
			</select>
		</div>
		<div class="form-group">
			<label for="event-organizer-email" class="input-label required">Email</label>
			<input type="email" name="organizer[email]" id="event-organizer-email" class="input"
				placeholder="user@example.com" autocomplete="email" required="" />
		</div>
		<div class="form-group">
			<label for="event-organizer-phone" class="input-label">Phone</label>
			<input type="tel" name="organizer[telephone]" id="event-organizer-phone" class="input" placeholder="+1-555-555-5555" autocomplete="tel" />
		</div>
		<div class="form-group">
			<label for="event-organizer-url" class="input-label">Website</label>
			<input type="url" name="organizer[url]" id="event-organizer-url" class="input" placeholder="https://example.com" />
		</div>
	</fieldset>
	<fieldset id="event-article" class="form-section" disabled="">
		<legend>Event Article / URL</legend>
		<p>Events must have either an article <i>or</i> an external URL (eg Facebook Event), but not both.</p>
		<div class="form-group">
			<label for="event-redirect" class="input-label">Event URL</label>
			<input type="url" name="redirect" id="event-redirect" class="input" placeholder="https://example.com/event/" autocomplete="off" />
		</div>
		<div class="form-group">
			<label for="event-body" class="input-label required">Content</label>
			<textarea name="body" id="event-body" class="input" rows="12" placeholder="Content for event article" required=""></textarea>
			<input type="file" accept="text/*, .txt, .md" id="import-md" />
		</div>
		<p><a href="https://commonmark.org/help/" rel="noopener noreferrer external" target="_blank">Markdown {% include common/icon.html icon="link-external" height="16" width="16" fill="currentColor" %}</a> supported</p>
		<div class="flex row">
			<button type="button" id="preview-md" class="btn btn-primary">Preview Article Content</button>
			<button type="submit" class="btn btn-accept" disabled="">Submit</button>
			<button type="reset" class="btn btn-reject">Cancel</button>
		</div>
	</fieldset>
</form>
<dialog id="instructions-dialog">
	<p>Direct submission of events is currently not supported. Please attach the
		event file just generated in an email to <a href="mailto:admin@kernvalley.us?subject=Event%20Submission">admin@kernvalley.us {% include common/icon.html icon="mail-send" height="16" width="16" fill="currentColor" %}</a></p>
		<button type="button" class="btn btn-reject" data-close="#instructions-dialog">
			<span>Close</span>
			{% include common/icon.html icon="x" height="18" width="18" fill="currentColor" %}
		</button>
</dialog>
