---
layout: null
permalink: /events.json
---
{% assign now = 'now' | date_to_xmlschema %}
{% assign events = site.events | where_exp: 'event', 'event.endDate >= now' | sort: 'startDate' %}
[{% for event in events %}
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "name": {{ event.title | jsonify }},
    "url": "{{ event.url | absolute_url }}",
    "image": {{ event.image | jsonify }},
    "eventStatus": "{{ event.eventStatus | default: 'EventScheduled' }}",
    "eventAttendanceMode": {{ event.eventAttendanceMode | jsonify }},
    "description": {{ event.description | jsonify }},
    "startDate": "{{ event.startDate | date_to_xmlschema }}",
    "endDate": "{{ event.endDate | date_to_xmlschema }}",
    "organizer": {
    	"@type": "{{ event.organizer['@type'] | default: 'Organization' }}",
    	"name": {{ event.organizer.name | jsonify }},
    	"url": {{ event.organizer.url | jsonify }}
    },
    "location": {
      "@type": "Place",
      "name": "{{ event.location.name }}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": {{ event.location.streetAddress | jsonify }},
        "addressLocality": "{{ event.location.addressLocality }}",
        "addressRegion": "{{ event.location.addressRegion | default: 'CA' }}",
        "postalCode": {{ event.location.postalCode | jsonify }}
      },
      "geo": {
        "@type": "GeoCoordinates",
        "longitude": {{ event.location.geo.longitude | jsonify }},
        "latitude": {{ event.location.geo.latitude | jsonify }}
      }
    },
    "offers": {{ event.offers | jsonify }}
  }{% unless forloop.last %},{% endunless %}
{% endfor %}]
