---
layout: null
permalink: /events.json
---
{% assign now = 'now' | date_to_xmlschema %}
{% assign events = site.events | where_exp: 'event', 'event.endDate >= now' | sort: 'startDate' %}
[{% for event in events %}
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "name": {{ event.name | default: event.title | jsonify }},
    "url": "{{ event.url | absolute_url }}",
    "image": {{ event.image | jsonify }},
    "eventStatus": "{{ event.eventStatus | default: 'EventScheduled' }}",
    "eventAttendanceMode": {{ event.eventAttendanceMode | jsonify }},
    "description": {{ event.description | jsonify }},
    "startDate": "{{ event.startDate | date_to_xmlschema }}",
    "endDate": "{{ event.endDate | date_to_xmlschema }}",
    "organizer": {
    	"@type": "{{ event.organizer['@type'] | default: 'Organization' }}",
    	"name": {{ event.organizer.name | jsonify }}{% if event.organizer.url %},
    	"url": {{ event.organizer.url | jsonify }}{% endif %}{% if event.organizer.email %},
    	"email": {{ event.organizer.email | jsonify }}{% endif %}{% if event.organizer.telephone %},
    	"telephone": {{ event.organizer.telephone | jsonify }}{% endif %}{% if event.organizer.sameAs %},
    	"sameAs": {{ event.organizer.sameAs | jsonify }}{% endif %}
    },
    "location": {
      "@type": "{{ event.location['@type'] | default: 'Place' }}",
      "name": "{{ event.location.name | default: event.location.address.name }}",
      "address": {% if event.location.address %}{
        "@type": "{{ event.location.address['@type'] | default: 'PostalAddress' }}",
        "streetAddress": {{ event.location.address.streetAddress | jsonify }},
        "addressLocality": "{{ event.location.address.addressLocality }}",
        "addressRegion": "{{ event.location.address.addressRegion | default: 'CA' }}",
        "postalCode": {{ event.location.address.postalCode | jsonify }},
        "addressCountry": "{{ event.location.addressCountry | default: 'US' }}"
      }{% else %}{
        "@type": "PostalAddress",
        "streetAddress": {{ event.location.streetAddress | jsonify }},
        "addressLocality": "{{ event.location.addressLocality }}",
        "addressRegion": "{{ event.location.addressRegion | default: 'CA' }}",
        "postalCode": {{ event.location.postalCode | jsonify }},
        "addressCountry": "{{ event.location.addressCountry | default: 'US' }}"
      }{% endif %},
      "geo": {
        "@type": "{{ event.location.geo['@type'] | default: 'GeoCoordinates' }}",
        "longitude": {{ event.location.geo.longitude | jsonify }},
        "latitude": {{ event.location.geo.latitude | jsonify }}
      }
    },{% if event.tags %} "keywords": {{ event.tags | jsonify }}, {% else %} "keywords": [],{% endif %}
    "offers": {{ event.offers | jsonify }}
  }{% unless forloop.last %},{% endunless %}
{% endfor %}]

