---
title: Home
layout: default
scene: lake
pinned: true
---
{% assign now= 'now' | date_to_xmlschema %}
<section id="events-calendar" class="grid">
	{% assign events=site.events | where_exp: 'event', 'event.endDate >= now' | sort: 'startDate' %}
	{% for event in events %}
		<div class="card shadow">{% include event.html event=event %}</div>
	{% endfor %}
</section>
<dialog id="addEvent" class="card shadow animation-speed-normal animation-ease-in-out fadeIn">
	{% include event-form.html %}
</dialog>
