---
title: Home
layout: default
theme: auto
pinned: true
no-header: true
description: The best place to find events in the Kern River Valley!
tags:
  - events
  - calendar
  - kern valley
  - kern river valley
  - kernville
  - lake isabella
  - wofford heights
  - bodfish
  - weldon
---
{% assign now= 'now' | date_to_xmlschema %}
{% assign events=site.events | where_exp: 'event', 'event.endDate >= now' | sort: 'startDate' %}
{% if events.size != 0 %}
	<section id="events-calendar" class="grid">
		{% for event in events %}
			{% if forloop.index < 3 %}
				{% include event.html event=event loading="eager" %}
			{% else %}
				{% include event.html event=event loading="lazy" %}
			{% endif %}
		{% endfor %}
	</section>
{% else %}
	<section id="no-events" class="center">
		<div class="status-box warn inline-block">
			<span>No Events to display.</span>
			<p>We're sorry, but there are currently no known events taking place in the
				Kern River Valley. If you are organizing an event that you would like
				to list on this site, please enter the event information <a href="/create/" title="KRV Event Submission form">here {% include common/icon.html icon="link" %}</a>.
			</p>
		</div>
	</section>
{% endif %}
