# https://www.netlify.com/docs/netlify-toml-reference/
[build]
  base = "./"
  publish = "./_site"
  command = "npm run build && npm run build:site"
  [build.environment]
    GIT_LFS_ENABLED = "1"
[[headers]]
  for="/*"
  [headers.values]
    Link = '''
      </css/styles/index.css>; rel=preload; as=style, \
      </css/js/index.js>; rel=preload; as=script, \
      </img/icons.svg>; rel=preload; as=image
    '''
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "no-referrer-when-downgrade"
    Strict-Transport-Security = "max-age=31536000"
    Content-Security-Policy = '''
      default-src 'self';
      img-src * blob: data:;
      script-src 'self' moz-extension: https://cdn.kernvalley.us https://unpkg.com/leaflet@1.6.0/ https://www.google-analytics.com https://www.googletagmanager.com https://cdn.polyfill.io https://*.disqus.com/embed.js https://disqus.com/ https://c.disquscdn.com/ 'sha256-uv9ihhWV1/99Lna4PlyzJ4Ji2ofiXKU9ak+GUXMN0gw=' 'sha256-YCSlybv0BJeWnGWF8JCyQMs1TUOxVjFyr5upfHiDysc=' 'sha256-YmEu57ZRfDpDDhMApyHsyE3PA6DSf2V+9bIVooFPFHw=';
      style-src 'self' 'unsafe-inline' https://cdn.kernvalley.us https://unpkg.com/leaflet@1.6.0/ https://www.youtube.com https://www.youtube-nocookie.com;
      connect-src 'self' https://cdn.kernvalley.us https://api.kernvalley.us https://disqus.com wss://realtime.services.disqus.com;
      font-src 'self' https://cdn.kernvalley.us;
      media-src *;
      frame-src https://www.youtube.com https://www.youtube-nocookie.com https://disqus.com;
      form-action 'self';
      manifest-src 'self';
      worker-src 'self';
      reflected-xss block;
      report-uri https://api.kernvalley.us/Errors/CSP/;
      upgrade-insecure-requests;
      block-all-mixed-content;
      disown-opener;'''
# [[redirects]]
  # from = ""
  # to = ""
