<div class="share-btns">
	<h4>Share on&hellip;</h4>
	<share-to-button target="facebook" text="{{ include.text }}" title="Share on Facebook" hidden="">
			<span slot="text" >
				<span>Facebook</span>
			</span>
	</share-to-button>
	<share-to-button target="twitter" text="{{ include.text }}" title="Share on Twitter" hidden="">
			<span slot="text">Twitter</span>
		</span>
	</share-to-button>
	<share-to-button target="reddit" text="{{ include.text }}" title="Share on Reddit" hidden="">
		<span slot="text" >
			<span>Reddit</span>
		</span>
	</share-to-button>
	<share-to-button target="linkedin" text="{{ include.text }}" title="Share on LinkedIn" hidden="">
		<span slot="text" >
			<span>LinkedIn</span>
		</span>
	</share-to-button>
	<hr />
</div>
