<aside id="sidebar" class="card contain-content">
	{% if site.data.weather.appid %}
		<div class="center card">
			{% include weather.html appId = site.data.weather.appid postalCode = site.data.weather.postalCode %}
		</div>
		<br />
	{% endif %}
	{% if page.ads.sidebar %}{% for ad in page.ads.sidebar %}{% include ad.html
		id=ad.uuid
		disabled = ad.diabled
		label=ad.label
		image=ad.image
		description=ad.description
		url=ad.url
		callToAction=ad.callToAction
		theme=ad.theme
		layout=ad.layout
		imageFit=ad.imageFit
		imagePosition=ad.imagePosition
		classList=ad.classList
		campaign=ad.campaign
		content='sidebar-ad'
		loading="lazy"
		media=ad.media
	%}{% endfor %}{% else %}{% for ad in site.data.ads.sidebar %}{% include ad.html
		id=ad.uuid
		disabled = ad.diabled
		label=ad.label
		image=ad.image
		description=ad.description
		url=ad.url
		callToAction=ad.callToAction
		theme=ad.theme
		layout=ad.layout
		imageFit=ad.imageFit
		imagePosition=ad.imagePosition
		classList=ad.classList
		campaign=ad.campaign
		content='sidebar-ad'
		loading="lazy"
		media=ad.media
	%}{% endfor %}{% endif %}
</aside>
