---
layout: null
permalink: /photo-booth/config.json
---
{
  "apiKey": "{{ site.env.FIREBASE_API_KEY }}",
  "authDomain": "{{ site.env.FIREBASE_AUTH_DOMAIN }}",
  "projectId": "{{ site.env.FIREBASE_PROJECT_ID }}",
  "storageBucket": "{{ site.env.FIREBASE_STORAGE_BUCKET }}",
  "messagingSenderId": "{{ site.env.FIREBASE_MESSAGING_SENDER_ID }}",
  "appId": "{{ site.env.FIREBASE_APP_ID }}",
  "measurementId": "{{ site.env.FIREBASE_MEASUREMENT_ID }}"
}
