---
name: event
theme: default
og-type: website
data-layout: 'default'
theme: auto
itemtype: 'https://schema.org/WebPage'
layout: base
sidebar: true
main-itemtype: Event
---
{% include common/nav.html %}
<main id="main" class="card shadow" itemtype="https://schema.org/Event" itemscope="" itemref="time-card place-card">
	<link itemprop="eventStatus" content="https://schema.org/{{ page.eventStatus | default: 'EventScheduled' }}" />
	<link itemprop="eventAttendanceMode" content="https://schema.org/{{ page.eventAttendanceMode | default: 'OfflineEventAttendanceMode' }}" />
	<header class="event-page-header">
		{% if page.description %}
			<meta itemprop="description" content="{{ page.description }}" />
		{% endif %}
		<h1 itemprop="name" class="center">{{ page.name | default: page.title }}</h1>
		{% if page.eventStatus != "EventScheduled" %}
			<h2 class="event-status-container">
				{% case page.eventStatus %}
					{% when "EventPostponed" %}
						<div class="status-box alert">
							{% include common/icon.html icon="dialog-warning" %}
							<span>This event has been postponed.</span>
						</div>
					{% when "EventCancelled" %}
						<div class="status-box alert">
							{% include common/icon.html icon="dialog-warning" %}
							<span>This event has been cancelled.</span>
						</div>
					{% when "EventRescheduled" %}
						<div class="status-box warn">
							{% include common/icon.html icon="dialog-warning" %}
							<span>This event has been rescheduled.</span>
						</div>
					{% when "EventMovedOnline" %}
						<div class="status-box warn">
							{% include common/icon.html icon="dialog-warning" %}
							<span>This event has moved online.</span>
						</div>
				{% endcase %}
			</h2>
		{% endif %}
		<!-- <div itemtype="https://schema.org/Place" itemprop="location" itemref="place-card" hidden=""></div> -->
		<figure class="center" itemprop="image" itemtype="https://schema.org/ImageObject" itemscope="">
			{% include common/imgur.html url=page.imgur itemprop="url" class="imgur" sizes="(max-width: 800px) 100vw, 60vw" %}
		</figure>
		{% if page.offers %}<hr /><div class="flex row wrap event-page-offers">{% for offer in page.offers %}
			{% if offer.url %}
				<a href="{{ offer.url }}" role="button" rel="noopener external" class="center btn btn-primary event-offer-btn" itemprop="offers" itemtype="http://schema.org/Offer" itemscope=""{% if offer.availability and offer.availability != 'InStock' %} title="Unavailable" disabled=""{% endif %}>
					<meta itemprop="url" content="{{ offer.url }}" />
					<b class="event-price">
						<span itemprop="name">{{ offer.name | default: 'General Admission' }}</span>:
						$<span itemprop="price">{{ offer.price }}</span>
					</b>
					<meta itemprop="priceCurrency" content="{{ offer.eventCurrency | default: 'USD' }}" />
					<link itemprop="availability" href="https://schema.org/{{ offer.availability | default: 'InStock' }}" />
				</a>
			{% else %}
				<span role="button" class="center btn btn-primary cursor-default event-offer-btn" itemprop="offers" itemtype="http://schema.org/Offer" itemscope=""{% if offer.availability and offer.availability != 'InStock' %} title="Unavailable" disabled=""{% endif %}>
					<b class="event-price">
						<span itemprop="name">{{ offer.name | default: 'General Admission' }}</span>:
						$<span itemprop="price">{{ offer.price }}</span>
					</b>
					<meta itemprop="priceCurrency" content="{{ offer.eventCurrency | default: 'USD' }}" />
					<link itemprop="availability" href="https://schema.org/{{ offer.availability | default: 'InStock' }}" />
				</span>
			{% endif %}
		{% endfor %}</div>{% else %}
			<span role="button" class="center btn btn-primary" itemprop="offers" itemtype="http://schema.org/Offer" itemscope=""{% if offer.availability and offer.availability != 'InStock' %} disabled=""{% endif %}>
				<b class="event-price">
					<span itemprop="name">Admission</span>:
					<span>Free</span>
				</b>
				<meta itemprop="price" content="0" />
				<meta itemprop="priceCurrency" content="{{ offer.eventCurrency | default: 'USD' }}" />
				<link itemprop="availability" href="https://schema.org/{{ offer.availability | default: 'InStock' }}" />
			</span>
		{% endif %}
		<br />
		<div class="center">
			<button type="button" class="btn btn-primary schedule-notification" data-title="{{ page.name | escape }}" data-time="{{ page.startDate | date_to_xmlschema }}" data-url="{{  page.url }}" data-body="{{ page.description | escape }}" data-location-url="{{ page.location.url }}" data-image="{{ page.image }}" data-uuid="{{ page.title | sluggify }}" hidden="">
				{% include common/icon.html icon="appointment-new" %}
				<span>Add Reminder</span>
			</button>
		</div>
		<br />
		{% include common/share-buttons.html
			text=page.description
			facebook=true
			twitter=true
			reddit=true
			linkedin=true
		%}
	</header>
	<article itemprop="about" itemtype="https://schema.org/Article" itemscope="">
		<div itemprop="author" itemtype="https://schema.org/{{ page.organizer['@type'] | default: 'Organization' }}" itemscope="" hidden="">
			{% if page.organizer.name %}
				<meta itemprop="name" content="{{ page.organizer.name }}" />
			{% elsif page.organizer.givenName and page.organizer.familyName %}
				<meta itemprop="name" content="{{ page.organizer.givenName }} {{ page.organizer.familyName }}" />
			{% endif %}
			{% if page.organizer.url %}<meta itemprop="url" content="{{ page.organizer.url }}">{% endif %}
		</div>
		<br />
		{% if page.description %}
			<meta itemprop="description" content="{{ page.description }}" />
		{% endif %}
		{% if page.tags %}
			<meta itemprop="keywords" content="{{ page.tags | join: ', '}}" />
		{% endif %}
		{% if page.imgur %}
			{% capture hash %}{{ include.url | replace: 'https://i.imgur.com/', '' | replace: 'https://imgur.com/', '' | replace: '.png', '' | replace: '.jpg', '' }}{% endcapture %}
			<meta itemprop="image" content="https://i.imgur.com/{{ hash }}m.png" />
		{% elsif page.image %}
			<meta itemprop="image" content="{{ page.image  }}" />
		{% endif %}
		<meta itemptop="wordCount" content="{{ content | number_of_words }}" />
		<meta itemprop="url" content="{{ page.url  }}" />
		<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" />
		<meta itemprop="headline" content="{{ page.title }}">
		{% if page.date %}
			<b class="meta-date-posted" hidden="">
				<span>Posted on</span>
				<time itemprop="datePublished" datetime="{{ page.date | date: date_to_xmlschema }}">
					{{ page.date | date: '%a, %B %e, %Y' }}
				</time>
			</b>
		{% endif %}
		{% if page.updated %}
			<b class="meta-date-updated">
				<span>Updated on</span>
				<time itemprop="dateModified" datetime="{{ page.updated | date: data_to_xmlschema }}">
					{{ page.updated | date: '%a, %B %e, %Y' }}
				</time>
			</b>
		{% else %}
			<meta itemprop="dateModified" content="{{ page.date | date: data_to_xmlschema }}" />
		{% endif %}
		<br />
		<section itemtype="articleBody">{{ content }}</section>
		<footer itemprop="publisher" itemtype="https://schema.org/{{ site.data.publisher['@type'] | default: 'Organization' }}" itemscope="" hidden="">
			<a href="{{ site.data.publisher.url }}" rel="external noopener" itemprop="url">
				<figure itemprop="logo" itemtype="https://schema.org/ImageObject" itemscope="" hidden="">
					<meta itemprop="url" content="{{ site.data.publisher.logo.url }}" />
				</figure>
				<h5 itemprop="name">{{ site.data.publisher.name }}</h5>
			</a>
		</footer>
	</article>
</main>
<aside id="sidebar" class="card contain-content">
	<div id="time-card" class="card clearfix">
		<h4 class="center">When</h4>
		{% include common/icon.html icon='events' class="current-color icon float-left" %}
		<span class="float-left"> </span>
		<div class="float-left">
			<time datetime="{{ page.startDate | date_to_xmlschema }}" itemprop="startDate">{{ page.startDate | date: '%a %b %-d, %Y %l:%M %p'}}</time>
			<span>&mdash;</span>
			<time datetime="{{ page.endDate | date_to_xmlschema }}" itemprop="endDate">{{ page.endDate | date: '%a %b %-d, %Y %l:%M %p'}}</time>
		</div>
		<button type="button" class="btn btn-primary schedule-notification" data-title="{{ page.name | escape }}" data-time="{{ page.startDate | date_to_xmlschema }}" data-url="{{  page.url }}" data-body="{{ page.description | escape }}" data-location-url="{{ page.location.url }}" data-image="{{ page.image }}" data-uuid="{{ page.title | sluggify }}" hidden="">
			{% include common/icon.html icon="appointment-new" %}
			<span>Add Reminder</span>
		</button>
	</div>
	<br />
	<div id="place-card" class="clearfix card" itemprop="location" itemtype="https://schema.org/{{ page.location['@type'] | default: 'Place' }}" itemscope="">
		<h4 class="center">Where</h4>
		{% if page.location.geo %}
			<div itemprop="geo" itemtype="https://schema.org/GeoCoordinates" hidden="">
				<meta itemprop="longitude" content="{{ page.location.geo.longitude }}" />
				<meta itemprop="latitude" content="{{ page.location.geo.latitude }}" />
			</div>
			<iframe class="leaflet-map" src="https://maps.kernvalley.us/embed?latitude={{ page.location.geo.latitude }}&amp;longitude={{ page.location.geo.longitude }}&amp;zoom=15&amp;markerLatitude={{ page.location.geo.latitude }}&amp;markerLongitude={{ page.location.geo.longitude }}&amp;popup=&lt;h3&gt;{{ page.location.name | default: page.name | url_encode }}&lt;/h3&gt;&amp;icon=map-marker" loading="lazy" name="krvMaps" referrerpolicy="no-referrer" sandbox="allow-scripts"></iframe>
		{% endif %}
		{% if page.location.name %}
		{% include common/icon.html icon='location' class='current-color icon float-left' %}
		<span class="float-left">&nbsp;</span>
		{% if page.location.url %}
			<a href="{{ page.location.url }}" class="location-link" rel="noopener external" itemprop="url">
			{% include common/icon.html icon="link-external" %}
		{% endif %}
			<b class="float-left" itemprop="name">{{ page.location.name }}</b>
		{% endif %}
		{% if page.location.url %}</a>{% endif %}
		<div class="clearfix"></div>
		{% if page.location.addressLocality %}
			{% include common/address.html address=page.location %}
		{% endif %}
	</div>
	<br />
	<div id="organizer-card" class="clearfix card" itemprop="organizer" itemprop="https://schema.org/{{ page.organizer.type | default: 'Organization' }}" itemscope="">
		<h4 class="center">Organized by</h4>
		<span class="block center" itemprop="name">{{ page.organizer.name }}</span><br />
		<div class="organizer-info">
			{% if page.organizer.url %}
				{% include common/url.html url=page.organizer.url %}<br />
			{% endif %}
			{% if page.organizer.telephone %}
				{% include common/telephone.html telephone=page.organizer.telephone %}<br />
			{% endif %}
			{% if page.organizer.email %}
				{% include common/email.html email=page.organizer.email %}<br />
			{% endif %}
			{% if page.organizer.address %}
				{% include common/address.html address=page.organizer.address %}<br />
			{% endif %}
			{% if page.organizer.sameAs %}
				<hr />
				{% include common/same-as-links.html sameAs=page.organizer.sameAs %}<br />
			{% endif %}
		</div>
	</div>
	<br />
	{% if site.data.weather.appid %}
		<div class="center card">
			{% include common/weather.html appId = site.data.weather.appid postalCode = page.location.postalCode %}
		</div>
	{% endif %}
	{% if page.ads.sidebar %}{% for ad in page.ads.sidebar %}
		{% include common/ad.html ad=ad content="sidebar" %}
	{% endfor %}{% else %}{% for ad in site.data.ads.sidebar %}
		{% include common/ad.html ad=ad content="sidebar" %}
	{% endfor %}{% endif %}
</aside>
{% include common/footer.html keep-kern-clean=site.keep-kern-clean %}
{% include common/share-button.html text=page.description %}
