---
name: event
theme: default
og-type: website
data-layout: 'default'
theme: auto
itemtype: 'https://schema.org/WebPage'
layout: base
sidebar: true
main-itemtype: Event
---
{% include common/nav.html %}
<main id="main" class="card" itemtype="{{ page['@context'] | default: 'https://schema.org' }}/{{ page['@type'] | default: 'Event' }}" itemscope="">
	<link itemprop="eventStatus" content="https://schema.org/{{ page.eventStatus | default: 'EventScheduled' }}" />
	<link itemprop="eventAttendanceMode" content="https://schema.org/{{ page.eventAttendanceMode | default: 'OfflineEventAttendanceMode' }}" />
	<header class="event-page-header">
		{% if page.description %}
			<meta itemprop="description" content="{{ page.description | xml_escape }}" />
		{% endif %}
		<h1 itemprop="name" class="center event-name">{{ page.name | default: page.title }}</h1>
		{% if page.eventStatus != "EventScheduled" %}
			<h2 class="event-status-container">
				{% case page.eventStatus %}
					{% when "EventPostponed" %}
						<div class="status-box alert">
							{% include common/icon.html icon="dialog-warning" %}
							<span>This event has been postponed.</span>
						</div>
					{% when "EventCancelled" %}
						<div class="status-box alert">
							{% include common/icon.html icon="dialog-warning" %}
							<span>This event has been cancelled.</span>
						</div>
					{% when "EventRescheduled" %}
						<div class="status-box warn">
							{% include common/icon.html icon="dialog-warning" %}
							<span>This event has been rescheduled.</span>
						</div>
					{% when "EventMovedOnline" %}
						<div class="status-box warn">
							{% include common/icon.html icon="dialog-warning" %}
							<span>This event has moved online.</span>
						</div>
				{% endcase %}
			</h2>
		{% endif %}
		<!-- <div itemtype="https://schema.org/Place" itemprop="location" itemref="place-card" hidden=""></div> -->
		{% if page.imgur %}
			<figure class="center" itemprop="image" itemtype="https://schema.org/ImageObject" itemscope="">
				{% include common/imgur.html url=page.imgur itemprop="url" class="imgur event-img" sizes="(max-width: 800px) 100vw, 80vw" %}
			</figure>
		{% elsif page.image %}
			<figure class="center" itemprop="image" itemtype="https://schema.org/ImageObject" itemscope="">
				<img src="{{ page.image }}" class="event-img" itemprop="url" crossorigin="anonymous" referrerpolicy="no-referrer" loading="lazy" />
			</figure>
		{% endif %}
		<section id="event-info-section" class="grid{% if page.performer %} with-performer{% endif %}">
			<div id="place-card" class="card" itemprop="location" itemtype="https://schema.org/{{ page.location['@type'] | default: 'Place' }}" itemscope="">
				<h4 class="event-section-heading">
					{% include common/icon.html icon="location" height="18" width="18" fill="currentColor" %}
					<span>Where</span>
				</h4>
				{% if page.location.geo %}
					<div itemprop="geo" itemtype="https://schema.org/GeoCoordinates" hidden="">
						<meta itemprop="longitude" content="{{ page.location.geo.longitude }}" />
						<meta itemprop="latitude" content="{{ page.location.geo.latitude }}" />
					</div>
					<iframe class="leaflet-map" src="https://maps.kernvalley.us/embed?latitude={{ page.location.geo.latitude }}&amp;longitude={{ page.location.geo.longitude }}&amp;zoom=15&amp;markerLatitude={{ page.location.geo.latitude }}&amp;markerLongitude={{ page.location.geo.longitude }}&amp;popup=&lt;h3&gt;{{ page.location.name | default: page.name | url_encode }}&lt;/h3&gt;&amp;icon=map-marker&amp;zoomControl=1&amp;fullscreen=1" loading="lazy" name="krvMaps" referrerpolicy="no-referrer" allow="fullscreen" sandbox="allow-scripts allow-same-origin" allowfullscreen="" ></iframe>
				{% endif %}
				{% if page.location.name %}
					<div>
						{% if page.location.url %}
							<a href="{{ page.location.url }}" class="location-link" rel="noopener noreferrer external" itemprop="url">
							{% include common/icon.html icon="link-external" height="16" width="16" fill="currentColor" %}
						{% endif %}
						<b class="event-location-name" itemprop="name">{{ page.location.name }}</b>
						{% if page.location.url %}</a>{% endif %}
					</div>
				{% endif %}
				{% if page.location.addressLocality %}
					{% include common/address.html address=page.location %}
				{% elsif page.location.address.addressLocality %}
					{% include common/address.html address=page.location.address %}
				{% endif %}
			</div>
			<div id="time-card" class="card">
				<h4 class="event-section-heading">
					{% include common/icon.html icon="events" height="18" width="18" fill="currentColor" %}
					<span>When</span>
				</h4>
				<div>
					<span>Start:</span>
					<time datetime="{{ page.startDate | date_to_xmlschema }}" itemprop="startDate">{{ page.startDate | date: '%a %b %-d, %Y %l:%M %p'}}</time>
					<br />
					<span>End:</span>
					<time datetime="{{ page.endDate | date_to_xmlschema }}" itemprop="endDate">{{ page.endDate | date: '%a %b %-d, %Y %l:%M %p'}}</time>
				</div>
				<button type="button" class="btn btn-primary schedule-notification" data-title="{{ page.name | escape }}" data-time="{{ page.startDate | date_to_xmlschema }}" data-url="{{  page.url }}" data-body="{{ page.description | escape }}" data-location-url="{{ page.location.url }}" data-image="{{ page.image }}" data-uuid="{{ page.title | sluggify }}" hidden="">
					{% include common/icon.html icon="appointment-new" %}
					<span>Add Reminder</span>
				</button>
			</div>
			<div id="organizer-card" class="card" itemprop="organizer" itemtype="https://schema.org/{{ page.organizer.type | default: 'Organization' }}" itemscope="">
				<h4 class="event-section-heading">
					{% include common/icon.html icon="organization" height="18" width="18" fill="currentColor" %}
					<span>Organized by</span>
				</h4>
				<div itemprop="name"><b>{{ page.organizer.name }}</b></div>
				<div id="organizer-info">
					{% if page.organizer.url %}
						{% include common/url.html url=page.organizer.url %}
					{% endif %}
					{% if page.organizer.telephone %}
						{% include common/telephone.html telephone=page.organizer.telephone %}
					{% endif %}
					{% if page.organizer.email %}
						{% include common/email.html email=page.organizer.email %}
					{% endif %}
					{% if page.organizer.address %}
						<br />{% include common/address.html address=page.organizer.address %}
					{% endif %}
				</div>
				{% if page.organizer.sameAs %}
					{% include common/same-as-links.html sameAs=page.organizer.sameAs %}
				{% endif %}
			</div>
			{% if page.performer %}
				<div id="performer-card" class="event-page-performer card" itemprop="performer" itemtype="https://schema.org/{{ page.performer['@type'] | default: 'Person' }}" itemscope="">
					<h3 class="center">Featuring</h3>
					<a href="{{ page.performer.url }}" class="block performer-info flex row" itemprop="url" rel="noopener noreferrer external" target="_blank">
						<img src="{{ page.performer.image }}" itemprop="image" class="performer-image round" crossorigin="anonymous" referrerpolicy="no-referrer" loading="lazy" />
						<div class="flex-group">
							<h4 itemprop="name" class="performer-name underline">{{ page.performer.name }}</h4>
							<!-- <p itemprop="description" class="performer-description">{{ page.performer.description }}</p> -->
						</div>
					</a>
				</div>
			{% endif %}
		</section>
		{% if page.offers %}<div class="flex row wrap event-page-offers">{% for offer in page.offers %}
			{% if offer.url %}
				<a href="{{ offer.url }}" role="button" rel="noopener external" class="center btn btn-primary event-offer-btn" itemprop="offers" itemtype="http://schema.org/Offer" itemscope=""{% if offer.availability and offer.availability != 'InStock' %} title="Unavailable" disabled=""{% endif %}>
					<meta itemprop="url" content="{{ offer.url }}" />
					<meta itemprop="validFrom" content="{{ page.validFrom | default: site.time | date_to_xmlschema }}" />
					<meta itemprop="validFrom" content="{{ page.validThrough | default: page.endDate | date_to_xmlschema }}" />
					<b class="event-price">
						{% include common/icon.html icon="link-external" height="16" width="16" fill="currentColor" %}
						<span itemprop="name">{{ offer.name | default: 'General Admission' }}</span>:
						$<span itemprop="price">{{ offer.price }}</span>
					</b>
					<meta itemprop="priceCurrency" content="{{ offer.eventCurrency | default: 'USD' }}" />
					<link itemprop="availability" href="https://schema.org/{{ offer.availability | default: 'InStock' }}" />
				</a>
			{% else %}
				<span role="button" class="center btn btn-primary cursor-default event-offer-btn" itemprop="offers" itemtype="http://schema.org/Offer" itemscope=""{% if offer.availability and offer.availability != 'InStock' %} title="Unavailable" disabled=""{% endif %}>
					<meta itemprop="validFrom" content="{{ page.validFrom | default: site.time | date_to_xmlschema }}" />
					<meta itemprop="validFrom" content="{{ page.validThrough | default: page.endDate | date_to_xmlschema }}" />
					<b class="event-price">
						<span itemprop="name">{{ offer.name | default: 'General Admission' }}</span>:
						$<span itemprop="price">{{ offer.price }}</span>
					</b>
					<meta itemprop="priceCurrency" content="{{ offer.eventCurrency | default: 'USD' }}" />
					<link itemprop="availability" href="https://schema.org/{{ offer.availability | default: 'InStock' }}" />
				</span>
			{% endif %}
		{% endfor %}</div>{% else %}
			<span role="button" class="center btn btn-primary" itemprop="offers" itemtype="http://schema.org/Offer" itemscope=""{% if offer.availability and offer.availability != 'InStock' %} disabled=""{% endif %}>
				<b class="event-price">
					<span itemprop="name">Admission</span>:
					<span>Free</span>
				</b>
				<meta itemprop="price" content="0" />
				<meta itemprop="priceCurrency" content="{{ offer.eventCurrency | default: 'USD' }}" />
				<link itemprop="availability" href="https://schema.org/{{ offer.availability | default: 'InStock' }}" />
			</span>
		{% endif %}
	</header>
	<article itemprop="about" itemtype="https://schema.org/Article" itemscope="">
		<div itemprop="author" itemtype="https://schema.org/{{ page.organizer['@type'] | default: 'Organization' }}" itemscope="" hidden="">
			{% if page.organizer.name %}
				<meta itemprop="name" content="{{ page.organizer.name }}" />
			{% elsif page.organizer.givenName and page.organizer.familyName %}
				<meta itemprop="name" content="{{ page.organizer.givenName }} {{ page.organizer.familyName }}" />
			{% endif %}
			{% if page.organizer.url %}<meta itemprop="url" content="{{ page.organizer.url }}">{% endif %}
		</div>
		{% if page.description %}
			<meta itemprop="description" content="{{ page.description }}" />
		{% endif %}
		{% if page.tags %}
			<meta itemprop="keywords" content="{{ page.tags | join: ', '}}" />
		{% endif %}
		{% if page.imgur %}
			{% capture hash %}{{ page.imgur | remove: 'https://i.imgur.com/' | remove: 'https://imgur.com/' | remove: '.png' | remove: '.jpg' }}{% endcapture %}
			<meta itemprop="image" content="https://i.imgur.com/{{ hash }}m.png" />
		{% elsif page.image %}
			<meta itemprop="image" content="{{ page.image  }}" />
		{% endif %}
		<meta itemptop="wordCount" content="{{ content | number_of_words }}" />
		<meta itemprop="url" content="{{ page.url  }}" />
		<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" />
		<meta itemprop="headline" content="{{ page.title }}">
		{% if page.date %}
			<b class="meta-date-posted" hidden="">
				<span>Posted on</span>
				<time itemprop="datePublished" datetime="{{ page.date | date: date_to_xmlschema }}">
					{{ page.date | date: '%a, %B %e, %Y' }}
				</time>
			</b>
		{% endif %}
		{% if page.updated %}
			<b class="meta-date-updated">
				<span>Updated on</span>
				<time itemprop="dateModified" datetime="{{ page.updated | date: data_to_xmlschema }}">
					{{ page.updated | date: '%a, %B %e, %Y' }}
				</time>
			</b>
		{% else %}
			<meta itemprop="dateModified" content="{{ page.date | date: data_to_xmlschema }}" />
		{% endif %}
		<section itemtype="articleBody">{{ content }}</section>
		{% include common/share-buttons.html
			text=page.description
			facebook=true
			twitter=true
			reddit=true
			linkedin=true
		%}
		<footer itemprop="publisher" itemtype="https://schema.org/{{ site.data.publisher['@type'] | default: 'Organization' }}" itemscope="" hidden="">
			<a href="{{ site.data.publisher.url }}" rel="external noopener" itemprop="url">
				<figure itemprop="logo" itemtype="https://schema.org/ImageObject" itemscope="" hidden="">
					<meta itemprop="url" content="{{ site.data.publisher.logo.url }}" />
				</figure>
				<h5 itemprop="name">{{ site.data.publisher.name }}</h5>
			</a>
		</footer>
	</article>
	{% unless page.no-comments == true %}
		<disqus-comments site="krv-events" class="block contain-content"></disqus-comments>
	{% endunless %}
</main>
{% include sidebar.html %}
{% include common/footer.html keep-kern-clean=site.keep-kern-clean %}
{% include common/share-button.html text=page.description %}
